// Import styles
@import "~@coreui/coreui/scss/coreui";

.c-header.c-header-fixed {
  border: 0;
  -webkit-box-shadow: 0 2px 2px 0 rgba(60, 75, 100, 0.14),
    0 3px 1px -2px rgba(60, 75, 100, 0.12), 0 1px 5px 0 rgba(60, 75, 100, 0.2);
  box-shadow: 0 2px 2px 0 rgba(60, 75, 100, 0.14),
    0 3px 1px -2px rgba(60, 75, 100, 0.12), 0 1px 5px 0 rgba(60, 75, 100, 0.2);
  -webkit-clip-path: inset(0 0 -1000px 0);
  clip-path: inset(0 0 -1000px 0);
}
.c-header .c-header-toggler-icon:focus {
  outline: none;
}
.header-link {
  padding-left: 0.2rem;
  padding-bottom: 1px;
}
.c-app:not(.c-legacy-theme):not(.c-dark-theme) .card {
  border: 0;
  box-shadow: 0 1px 1px 0 rgba(60,75,100,.14), 0 2px 1px -1px rgba(60,75,100,.12), 0 1px 3px 0 rgba(60,75,100,.2);
}

.c-app:not(.c-dark-theme) .btn:not([class*=ghost]):not([class*=link]):not([class*=outline]):not([class*=transparent]) {
  border: 0;
  box-shadow: 0 1px 1px 0 rgba(60,75,100,.14), 0 2px 1px -1px rgba(60,75,100,.12), 0 1px 3px 0 rgba(60,75,100,.2);
}


.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}

.card-header-action span{
  padding-top: 5px;
  padding-left: 3px;
}

button:focus {
  outline: none;
}

.c-icon:not(.c-icon-c-s):not(.c-icon-custom-size){
  height: 1.1rem!important;
}

.table thead th {
  border-top: none;
  border-bottom: none;
}

/* Validation styles*/

.help-block {
  visibility: hidden;
  font-size: 80%;
  color: #e55353;
  font-style: italic;
}

.invalid {
  border-color: #e55353 !important;
}

.show {
  visibility: visible;
}
